
.taskTable {
            /*border: 1px solid black;*/
            display: inline-block;
        }

.scrum_table {
            display: inline-block;
            /*border: 2px solid gray;
            border-radius: 3%;
            padding: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
        }

        .scrum_columns {
            display: flex;
            /*border: 2px solid gray;*/
            padding: 5px;
        }

        .scrum_column {
            /*border: 1px solid gray;*/
            margin-left: 5px;
            margin-right: 5px;
            padding-left: 3px;
            padding-right: 3px;
        }

        .scrum_item {
            /*border: 1px solid gray;*/
            margin-bottom: 7px;
        }
