.login_form {
            border: 2px solid gray;
            border-radius: 3%;
            padding: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            width: 280px;
        }

        .login_form label {
            width: 100px;
            display: inline-block;
        }

        .login_form input {
            margin-bottom: 5px;
        }

        .login_form__button {
            display: inline-block;
            width: 273px;
            border: 1px solid green;
            background-color: #fff;
            cursor: pointer;
        }

        .login_form__button:hover {
            background-color: lightgray;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        }
